.context-bar
  %i.fa.fa-heart
  .notification 久保裕也さんがいいねしました
%img.icon
.header
  .fullname 浅野拓磨
  .username @asano
  .timestamp 12分
  %i.fa.fa-angle-down
.tweet-text エース！
.item-fotter
  %i.fa.fa-comment
  .count 3
  %i.fa.fa-retweet
  .count 3
  %i.fa.fa-heart
  .count 3
  %i.fa.fa-envelope