.contents {
  weight: 100%;
  padding: 56px 14px 15px;
  margin: 0 auto;

  &__leftbar {
    width: 290px;
    padding-left: 20px;
    float: left;

    &__profile {
      height: 215px;
      width: 288px;
      border: 1px solid $gray_line;
      background: $white;
      position: relative;
      margin-bottom: 10px;

      .profile-bg {
        height: 95px;
        background-size: 100%;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        background-position: 0 50%;
      }

      .profile-icon-link {
        height: 79px;
        width: 74px;
        background-color: $white;
        border-radius: 50%;
        margin: -30px 0 0 8px;
        padding: 1px;

        %img {
          height: 72px;
          width: 72px;
          color: $white;
          border-radius: 50%;
          border: 2px solid $white;
          box-sizing: border-box;
        }
      }

      .user-field {
        height: 43px;
        width: 185px;
        position: absolute;
        top: 103px;
        left: 90px;
        font-weight: bold;

        .name {
          color: black;
          font-size: 18px;
          line-height: 25px;
          margin: -1px 0 -2px 0;
          text-decoration: none;

          @include hover-b();
        }

        .user-name {
          color: $gray;
          max-width: 100%;
          font-size: 12px;
          padding-right: 5px;
          text-decoration: none;

          @include hover-b();
        }
      }

      .tweets {
        height: 37px;
        width: 75px;
        float: left;
        font-weight: bold;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 16px;

        .guide-tweets{
          height: 25px;
          width: 70px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          top: 55%;
          position: absolute;
          display: none;
        }

        .tweets-label {
          height: 16px;
          width: 75px;
          color: $gray;
          font-size: 12px;
          line-height: 16px;
          display: block;
          text-decoration: none;

          @include hover-c();
        }

        .tweets-count {
          height: 21px;
          width: 75px;
          color: $light_blue;
          font-size: 16px;
          padding-top: 3px;
          display: block;
          text-decoration: none;
        }
      }

      .following {
        height: 37px;
        width: 75px;
        float: left;
        font-weight: bold;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 16px;

        .guide-following {
          height: 25px;
          width: 115px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          top: 55%;
          position: absolute;
          display: none;
        }

        .following-label {
          height: 16px;
          width: 75px;
          color: $gray;
          font-size: 12px;
          line-height: 16px;

          @include hover-c();
        }

        .following-count {
          height: 21px;
          width: 75px;
          color: $light_blue;
          font-size: 16px;
          padding-top: 3px;
        }
      }

      .followed {
        height: 37px;
        width: 75px;
        float: left;
        font-weight: bold;
        padding-top: 16px;
        padding-left: 16px;
        padding-bottom: 16px;

        .guide-followed {
          height: 25px;
          width: 120px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          top: 55%;
          position: absolute;
          display: none;
        }

        .followed-label {
          height: 16px;
          width: 75px;
          color: $gray;
          font-size: 12px;
          line-height: 16px;

          @include hover-c();
        }

        .followed-count {
          height: 21px;
          width: 75px;
          color: $light_blue;
          font-size: 16px;
          padding-top: 3px;
        }
      }
    }

    &__recommend-trend {
      height: 400px;
      width: 258px;
      background-color: $white;
      border: 1px solid $gray_line;
      line-height: inherit;
      padding: 15px;

      .trend-header {
        height: 23px;
        width: 144px;
        float: left;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }

      .change-trends {
        font-size: 12px;
        color: $light_blue;
        float: left;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .trend-item {
        clear: both;
        padding-bottom: 10px;

        .title {
          font-size: 14px;
          font-weight: bold;
          color: $light_blue;

          @include hover-b();
        }

        .count {
          color: $gray;
          font-size: 12px;
        }
      }
    }
  }

  &__timeline {
    height: 100%;
    width: 590px;
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    background: $white;
    border: 1px solid $gray_line;

    &__tweetbox__one {
      height: 58px;
      width: 590px;
      background-color: $water_blue;

      .icon {
        height: 32px;
        width: 32px;
        float: left;
        padding-left: 24px;
        padding-top: 10px;
        border-radius: 50%;
        margin-top: 3px;
        display: block;
      }

      .tweet-editer {
        height: 36px;
        width: 506px;
        color: $light_blue;
        float: left;
        padding-right: 31px;
        padding: 11px;
        font-size: 20px;

        #tweet_body {
          font-size: 18px;
          width: 100%;
          border: 1px solid $gray_line;
          border-radius: 5px;
        }

        .text {
          position: absolute;
          top: 75px;
          padding-left: 10px;
          font-size: 14px;
        }

        .guide-image {
          height: 25px;
          width: 100px;
          position: absolute;
          top: 46px;
          left: 850px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          display: none;
        }

        .fa-image {
          float: right;
          position: absolute;
          top: 76px;
          left: 880px;
          font-size: 15px;
        }

        .hidden {
          display: none;
        }

        .form__submit {
          display: none;
        }
      }
    }

    &__tweetbox__two {
      height: 150px;
      width: 590px;
      background-color: $water_blue;
      display: none;

      .icon {
        height: 32px;
        width: 32px;
        float: left;
        padding-left: 24px;
        padding-top: 10px;
        border-radius: 50%;
        margin-top: 3px;
        display: block;
      }

      .tweet-editer {
        height: 36px;
        width: 506px;
        color: $light_blue;
        float: left;
        padding-right: 31px;
        padding: 11px;
        font-size: 15px;

        #tweet_body {
          font-size: 14px;
          height: 80px;
          width: 100%;
          padding-top: 10px;
          padding-left: 10px;
          border: 1px solid $gray_line;
          border-radius: 5px;
        }

        .fa-image {
          float: left;
          font-size: 20px;
          padding-left: 15px;
        }

        .hidden {
           display: none;
        }

        .tweet-buttun {
          height: 30px;
          width: 100px;
          background-color: $light_blue;
          color: $white;
          float: right;
          margin-right: 10px;
          border-color: transparent;
          border-radius: 100px;
          box-shadow: none;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          line-height: 20px;
          padding: 6px 16px;
          text-align: center;
          white-space: nowrap;
        }

        .fa-star {
          float: right;
          position: absolute;
          top: 75px;
          left: 890px;
          font-size: 14px;
        }

        .fa-circle {
          float: right;
          position: absolute;
          top: 140px;
          left: 890px;
          font-size: 14px;
        }

        .fa-align-left {
          float: left;
          font-size: 20px;
          padding-left: 15px;
        }

        .fa-map-pin {
          float: left;
          font-size: 20px;
          padding-left: 15px;
        }

        .guide-emoji {
          height: 25px;
          width: 85px;
          position: absolute;
          top: 46px;
          left: 850px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          display: none;
        }

        .guide-image {
          height: 25px;
          width: 100px;
          position: absolute;
          top: 130px;
          left: 380px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          display: none;
        }

        .guide-vote {
          height: 25px;
          width: 70px;
          position: absolute;
          top: 130px;
          left: 525px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          display: none;
        }

        .guide-address {
          height: 25px;
          width: 90px;
          position: absolute;
          top: 130px;
          left: 550px;
          background-color: black;
          color: $white;
          font-size: 12px;
          border-radius: 5px;
          padding-top: 4px;
          padding-left: 8px;
          display: none;
        }
      }
    }

    &__new-tweets-bar {
      height: 22px;
      width: 588px;
      background-color: $gray_cloud;
      color: $light_blue;
      font-size: 14px;
      border-bottom: 1px solid $gray_line;
      border-top: 1px solid $gray_line;
      cursor: pointer;
      padding: 10px 1px;
      text-align: center;
      display: block;
      text-decoration: none;

      @include hover-d();
    }

    &__tweet {
      height: 100vh;
      cursor: pointer;
      padding: 9px 12px;

      &__box {
        min-height: 100px;
        border-bottom: 1px solid $gray_line;

        .context-bar {
          height: 22px;
          width: 530px;
          margin-left: 30px;
          margin-top: 10px;

          .fa-heart {
            float: left;
            color: $gray;
            font-size: 12px;
            margin-top: 2px;
            margin-right: 5px;
          }

          .notification {
            float: left;
            color: $gray;
            font-size: 11px;
            margin-right: 5px;
          }
        }

        .icon {
          height: 48px;
          width: 48px;
          float: left;
          margin-top: 3px;
          position: absolute;
          border-radius: 50%;
        }

        .tweet-header {
          height: 18px;
          width: 506px;
          float: right;

          .fullname {
            height: 18px;
            max-width: 100%;
            float: left;
            color: black;
            font-size: 14px;
            font-weight: bold;

            @include hover-a();
          }

          .username {
            float: left;
            color: $gray;
            font-size: 14px;
            max-width: 100%;
            margin-left: 10px;
          }

          .timestamp {
            float: left;
            color: $gray;
            font-size: 14px;
            margin-left: 10px;

            @include hover-a();
          }

          .fa-caret-down {
            float: right;
            color: $gray;
            font-size: 20px;
          }

          .guide-other {
            float: right;
            height: 25px;
            width: 50px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            display: none;
          }

          .delete-menu {
            height: 220px;
            width: 240px;
            min-width: 192px;
            position: absolute;
            right: 5%;
            z-index: 900;
            padding: 10px 0;
            margin: 2px 0 0;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.25);
            display: none;

            &__share {
              height: 30px;
              color: $gray;
              font-size: 14px;
              margin-top: 10px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__copy {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__site {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__pintweet {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__delete {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;
              display: block;
              text-decoration: none;

              @include hover-e();

              @include m-text-b();
            }

            &__moment {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }
          }

          .other-menu {
            height: 200px;
            width: 240px;
            min-width: 192px;
            position: absolute;
            right: 5%;
            z-index: 900;
            padding: 10px 0;
            margin: 2px 0 0;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.25);
            display: none;

            &__copy {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__site {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__mute {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__block {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__report {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }

            &__moment {
              height: 30px;
              color: $gray;
              font-size: 14px;
              padding: 0 16px;
              padding-top: 5px;

              @include hover-e();

              @include m-text-b();
            }
          }
        }

        .tweet-text {
          width: 450px;
          min-height: 35px;
          font-size: 14px;
          padding-left: 60px;
          display: block;
          text-decoration: none;

          .body {
            color: black;
          }
        }

        .item-footer {
          height: 31px;
          width: 506px;
          font-size: 12px;
          padding-top: 1px;
          padding-left: 60px;

          .fa-comment {
            float: left;
            color: $gray;
            font-size: 14px;
            display: block;

            @include hover-c();
          }

          .guide-comment {
            float: left;
            height: 25px;
            width: 35px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 36%;
            display: none;
          }

          .count_comments {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .fa-retweet {
            float: left;
            color: $gray;
            font-size: 14px;
            padding-left: 48px;

            @include hover-g();
          }

          .guide-retweet {
            float: left;
            height: 25px;
            width: 65px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 43%;
            display: none;
          }

          .count_retweets {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .gray_heart {
            float: left;
            color: $gray;
            font-size: 13px;
            padding-top: 1px;
            padding-left: 48px;

            @include hover-h();
          }

          .red_heart {
            float: left;
            color: $red;
            font-size: 13px;
            padding-top: 1px;
            padding-left: 48px;
          }

          .guide-like {
            float: left;
            height: 25px;
            width: 45px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 49%;
            display: none;
          }

          .count_likes {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .fa-envelope {
            float: left;
            color: $gray;
            font-size: 13px;
            padding-top: 1px;
            padding-left: 48px;

            @include hover-c();
          }

          .guide-message {
            float: left;
            height: 25px;
            width: 70px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 54%;
            display: none;
          }
        }
      }
    }
  }

  &__rightbar {
    height: 100vh;
    width: 290px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;

    &__recommend-user {
      height: 400px;
      width: 258px;
      background-color: $white;
      background-clip: inherit;
      border: 1px solid $gray_line;
      line-height: inherit;
      padding: 15px;
      margin-bottom: 10px;

      .trend-header {
        height: 23px;
        width: 144px;
        float: left;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }

      .update {
        float: left;
        color: $light_blue;
        font-size: 12px;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .all-link {
        font-size: 12px;
        color: $light_blue;
        float: left;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .user-small-list-item {
        clear: both;
        min-height: 48px;
        border-bottom: 1px solid $gray_line;
        padding-bottom: 8px;
        margin-top: 10px;

        .icon {
          float: left;
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .user-lists {
          height: 48px;
          width: 180px;
          float: left;
          padding-left: 10px;

          .name {
            height: 16px;
            width: 70px;
            float: left;
            padding-bottom: 5px;
            color: black;
            font-size: 14px;
            font-weight: bold;

            @include hover-a();
          }

          .username {
            height: 16px;
            width: 70px;
            float: left;
            color: $gray;
            font-size: 14px;
          }

          .following-buttun {
            height: 16px;
            width: 66px;
            clear: both;
            background-color: $white;
            line-height: 16px;
            padding: 4px 12px;
            color: $light_blue;
            font-size: 12px;
            border-color: $light_blue;
            border: 1px solid $light_blue;
            border-radius: 100px;
            cursor: pointer;
            font-weight: bold;
            position: relative;
            white-space: nowrap;

            @include hover-f();
          }
        }
      }
    }

    &__footer {
      height: 173px;
      width: 258px;
      background-color: $white;
      border: 1px solid $gray_line;
      padding: 15px;

      .item {
        float: left;
        padding-right: 8px;
        color: $gray;
        font-size: 11px;

        @include hover-a();
      }
    }
  }
}
