.detail__timeline__tweet__box {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #e6ecf0;
  padding-top: 60px;

  .context-bar {
    height: 22px;
    width: 530px;
    margin-left: 30px;
    margin-top: 10px;

    .fa-heart {
      float: left;
      color: $gray;
      font-size: 12px;
      margin-top: 2px;
      margin-right: 5px;
    }

    .notification {
      float: left;
      color: $gray;
      font-size: 11px;
      margin-right: 5px;
    }
  }

  .tweet-header {
    height: 48px;
    width: 640px;

    .icon {
      height: 48px;
      width: 48px;
      float: left;
      margin-top: 3px;
      margin-left: 50px;
      border-radius: 50%;
    }

    .name-box {
      height: 48px;
      width: 360px;
      margin-left: 5px;
      float: left;

      .fullname {
        height: 24px;
        max-width: 100%;
        float: left;
        color: #14171a;
        font-size: 14px;
        font-weight: bold;
      }

      .username {
        height: 24px;
        clear: both;
        max-width: 100%;
        color: $gray;
        font-size: 14px;
      }
    }

    .follow-buttun {
      height: 20px;
      width: 80px;
      background-color: #4AB3F4;
      color: $white;
      float: left;
      margin-top: 10px;
      margin-right: 10px;
      border-color: transparent;
      border-radius: 100px;
      box-shadow: none;
      cursor: pointer;
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      padding: 6px 16px;
      text-align: center;
      white-space: nowrap;
    }

    .fa-caret-down {
      float: right;
      color: $gray;
      font-size: 20px;
      margin-top: 15px;
      margin-right: 25px;
    }

    .guide-other {
      float: right;
      height: 25px;
      width: 50px;
      background-color: black;
      color: $white;
      font-size: 12px;
      border-radius: 5px;
      padding-top: 4px;
      padding-left: 8px;
      display: none;
    }

    .delete-menu {
      height: 300px;
      width: 240px;
      min-width: 192px;
      position: absolute;
      top: 30%;
      right: 5%;
      z-index: 900;
      padding: 10px 0;
      margin: 2px 0 0;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.25);
      display: none;

      &__share {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__copy {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__site {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__pintweet {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__delete {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;
        text-decoration: none;

        @include m-text-b();
      }

      &__moment {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }
    }

    .other-menu {
      height: 300px;
      width: 240px;
      min-width: 192px;
      position: absolute;
      top: 30%;
      right: 5%;
      z-index: 900;
      padding: 10px 0;
      margin: 2px 0 0;
      background: #fff;
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(0,0,0,0.25);
      display: none;

      &__copy {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__site {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__mute {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__block {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__report {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }

      &__moment {
        height: 36px;
        color: $gray;
        font-size: 14px;
        margin-top: 14px;
        padding: 0 16px;

        @include m-text-b();
      }
    }
  }

  .tweet-text {
    width: 560px;
    min-height: 35px;
    font-size: 27px;
    margin-left: 50px;
  }

  .timestamp {
    width: 560px;
    font-size: 12px;
    color: #657786;
    line-height: 24px;
    margin-left: 50px;
    border-bottom: 1px solid #e6ecf0;
  }

  .status {
    height: 48px;
    width: 560px;
    margin: 0 auto;
    border-bottom: 1px solid #e6ecf0;

    .status-retweets {
      float: left;
      font-size: 12px;
      color: #657786;
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
    }

    .status-likes {
      font-size: 12px;
      color: #657786;
      float: left;
      padding-top: 12px;
    }
  }

  .item-footer {
    height: 31px;
    width: 590px;
    font-size: 12px;
    padding-top: 12px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e6ecf0;

    .fa-comment {
      float: left;
      color: $gray;
      font-size: 14px;
    }

    .guide-comment {
      float: left;
      height: 25px;
      width: 35px;
      background-color: black;
      color: $white;
      font-size: 12px;
      border-radius: 5px;
      padding-top: 4px;
      padding-left: 8px;
      margin-right: 10px;
      position: absolute;
      left: 32%;
      display: none;
    }

    .count_comments {
      float: left;
      color: $gray;
      font-size: 12px;
      padding-left: 14px;
    }

    .fa-retweet {
      float: left;
      color: $gray;
      font-size: 14px;
      padding-left: 48px;
    }

    .guide-retweet {
      float: left;
      height: 25px;
      width: 65px;
      background-color: black;
      color: $white;
      font-size: 12px;
      border-radius: 5px;
      padding-top: 4px;
      padding-left: 8px;
      position: absolute;
      left: 39%;
      display: none;
    }

    .count_retweets {
      float: left;
      color: $gray;
      font-size: 12px;
      padding-left: 14px;
    }

    .fa-heart {
      float: left;
      color: $gray;
      font-size: 13px;
      padding-top: 1px;
      padding-left: 48px;
    }

    .guide-like {
      float: left;
      height: 25px;
      width: 45px;
      background-color: black;
      color: $white;
      font-size: 12px;
      border-radius: 5px;
      padding-top: 4px;
      padding-left: 8px;
      position: absolute;
      left: 46%;
      display: none;
    }

    .count_likes {
      float: left;
      color: $gray;
      font-size: 12px;
      padding-left: 14px;
    }

    .fa-envelope {
      float: left;
      color: $gray;
      font-size: 13px;
      padding-top: 1px;
      padding-left: 48px;
    }

    .guide-message {
      float: left;
      height: 25px;
      width: 70px;
      background-color: black;
      color: $white;
      font-size: 12px;
      border-radius: 5px;
      padding-top: 4px;
      padding-left: 8px;
      position: absolute;
      left: 51%;
      display: none;
    }
  }

  .detail__timeline__tweetbox__one {
    height: 58px;
    width: 640px;
    border-bottom: 1px solid #e6ecf0;

    .icon {
      height: 32px;
      width: 32px;
      float: left;
      padding-left: 24px;
      padding-top: 10px;
      border-radius: 50%;
      margin-top: 3px;
      display: block;
    }

    .tweet-editer {
      height: 36px;
      width: 506px;
      float: left;
      padding-right: 31px;
      padding: 11px;
      font-size: 20px;

      #comment_body {
        font-size: 14px;
        width: 100%;
        border: 1px solid #e6ecf0;
        border-radius: 5px;
      }

      .text {
        color: #657786;
        position: absolute;
        top: 350px;
        padding-left: 10px;
        font-size: 14px;
      }

      .guide-image {
        height: 25px;
        width: 100px;
        position: absolute;
        top: 46px;
        left: 850px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        display: none;
      }

      .form__submit {
        display: none;
      }
    }
  }

  .detail__timeline__tweetbox__two {
    height: 150px;
    width: 640px;
    display: none;
    border-bottom: 1px solid #e6ecf0;

    .icon {
      height: 32px;
      width: 32px;
      float: left;
      padding-left: 24px;
      padding-top: 10px;
      border-radius: 50%;
      margin-top: 3px;
      display: block;
    }

    .tweet-editer {
      height: 36px;
      width: 506px;
      color: $light_blue;
      float: left;
      padding-right: 31px;
      padding: 11px;
      font-size: 15px;

      #comment_body {
        font-size: 14px;
        height: 80px;
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        border: 1px solid #e6ecf0;
        border-radius: 5px;
      }

      .fa-image {
        float: left;
        padding-top: 10px;
        font-size: 20px;
        padding-left: 15px;
      }

      .hidden {
         display: none;
      }

      .tweet-buttun {
        height: 30px;
        width: 60px;
        background-color: #4AB3F4;
        color: $white;
        float: right;
        margin-right: 10px;
        border-color: transparent;
        border-radius: 100px;
        box-shadow: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        padding: 6px 16px;
        text-align: center;
        white-space: nowrap;
      }

      .fa-align-left {
        float: left;
        padding-top: 10px;
        font-size: 20px;
        padding-left: 30px;
      }

      .fa-map-pin {
        float: left;
        font-size: 20px;
        padding-top: 10px;
        padding-left: 30px;
      }

      .guide-image {
        height: 25px;
        width: 100px;
        position: absolute;
        top: 430px;
        left: 380px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        display: none;
      }

      .guide-vote {
        height: 25px;
        width: 70px;
        position: absolute;
        top: 430px;
        left: 440px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        display: none;
      }

      .guide-address {
        height: 25px;
        width: 90px;
        position: absolute;
        top: 430px;
        left: 500px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        display: none;
      }
    }
  }

  .detail__timeline__comment {
    width: 640px;
    margin: 0 auto;
  }
}
