@mixin text() {
  .text {
    color: $gray;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-left: 3px;
    margin-top: 17px;
  }
}
@mixin fa() {
  .fa {
    color: $gray;
    font-size: 20px;
    margin-top: 15px;
    float: left;
  }
}

@mixin count() {
  .count {
    float: left;
    color: $gray;
    font-size: 12px;
    padding-left: 14px;
  }
}
