.header__show {
  height: 280px;
  width: 100%;
  padding-top: 47px;
  background-color: $light_blue;
}

.avatar__show {
  background-color: blue;
  height: 200px;
  width: 200px;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  top: 180px;
  left: 80px;
  position: absolute;
}

.mypage__bar {
  height: 65px;
  width: 100%;

  &__main {
    width: 600px;
    margin: 0 auto;

    .tweets {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-tweets{
        height: 25px;
        width: 70px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .tweets-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .tweets-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }

    .following {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-following {
        height: 25px;
        width: 115px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .following-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .following-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }

    .followed {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-followed {
        height: 25px;
        width: 120px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .followed-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .followed-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }

    .likes {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-likes {
        height: 25px;
        width: 70px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .likes-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .likes-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }

    .lists {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-lists {
        height: 25px;
        width: 100px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .lists-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .lists-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }

    .moments {
      height: 37px;
      width: 75px;
      float: left;
      font-weight: bold;
      padding-top: 16px;
      padding-left: 16px;
      padding-bottom: 16px;

      .guide-moments {
        height: 25px;
        width: 115px;
        background-color: black;
        color: $white;
        font-size: 12px;
        border-radius: 5px;
        padding-top: 4px;
        padding-left: 8px;
        top: 45%;
        position: absolute;
        display: none;
      }

      .moments-label {
        height: 16px;
        width: 75px;
        color: $gray;
        font-size: 12px;
        line-height: 16px;
      }

      .moments-count {
        height: 21px;
        width: 75px;
        color: $gray;
        font-size: 16px;
        padding-top: 3px;

        @include hover-a();
      }
    }
  }

  .edit__profile {
    height: 20px;
    width: 105px;
    float: right;
    margin-top: 20px;
    margin-right: 60px;
    background-color: $white;
    padding: 4px 12px;
    color: $gray;
    font-size: 12px;
    border-color: $gray;
    border: 1px solid $gray;
    border-radius: 100px;
    cursor: pointer;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;

    @include hover-f();
  }
}

.show__contents {
  clear: both;

  .profile__box {
    height: 400px;
    width: 240px;
    float: left;
    margin-left: 50px;
    border-radius: 4px;
    padding: 10px 15px 6px 15px;
    border: 1px solid $gray_line;
    line-height: inherit;

    &__user-name {
      height: 20px;
      width: 260px;
      font-size: 14px;
      line-height: 20px;
      color: $light_blue;

      @include hover-b();
    }

    &__name {
      color: black;
      font-weight: bold;
      font-size: 21px;
      line-height: 28px;
      margin: 0 -6px 0 -8px;
      padding: 4px 7px;
      width: 100%;
      border-color: $water_blue;

      @include hover-b();
    }

    &__text {
        color: black;
        font-size: 14px;
        line-height: 28px;
        margin: 0 -6px 0 -8px;
        padding: 4px 7px;
        width: 100%;
        border-color: $water_blue;
    }
  }

  .show__timeline {
    height: 100%;
    width: 590px;
    float: left;
    margin-top: 1px;
    margin-left: 10px;
    background: $white;
    border: 1px solid $gray_line;

    &__bar{
      height: 45px;
      border-bottom: 1px solid $gray_line;

      &__tweets {
        float: left;
        color: black;
        font-weight: bold;
        font-size: 18px;
        width: 100px;
        padding: 12px 15px;

        @include hover-b();
      }

      &__reply {
        float: left;
        color: $light_blue;
        font-weight: bold;
        font-size: 18px;
        width: 150px;
        padding: 12px 15px;

        @include hover-b();
      }

      &__media {
        float: left;
        color: $light_blue;
        font-weight: bold;
        font-size: 18px;
        width: 100px;
        padding: 12px 15px;

        @include hover-b();
      }
    }

    &__tweet {
      height: 100vh;
      cursor: pointer;
      padding: 9px 12px;

      &__box {
        min-height: 100px;
        border-bottom: 1px solid $gray_line;

        .context-bar {
          height: 22px;
          width: 530px;
          margin-left: 30px;
          margin-top: 10px;

          .fa-heart {
            float: left;
            color: $gray;
            font-size: 12px;
            margin-top: 2px;
            margin-right: 5px;
          }

          .notification {
            float: left;
            color: $gray;
            font-size: 11px;
            margin-right: 5px;
          }
        }

        .icon {
          height: 48px;
          width: 48px;
          float: left;
          margin-top: 3px;
          position: absolute;
          border-radius: 50%;
        }

        .tweet-header {
          height: 18px;
          width: 506px;
          float: right;

          .fullname {
            height: 18px;
            max-width: 100%;
            float: left;
            color: black;
            font-size: 14px;
            font-weight: bold;
          }

          .username {
            float: left;
            color: $gray;
            font-size: 14px;
            max-width: 100%;
            margin-left: 10px;
          }

          .timestamp {
            float: left;
            color: $gray;
            font-size: 14px;
            margin-left: 10px;
          }

          .fa-caret-down {
            float: right;
            color: $gray;
            font-size: 20px;
          }

          .guide-other {
            float: right;
            height: 25px;
            width: 50px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            display: none;
          }

          .other-menu {
            height: 300px;
            width: 240px;
            min-width: 192px;
            position: absolute;
            top: 40%;
            right: -35%;
            z-index: 900;
            padding: 10px 0;
            margin: 2px 0 0;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 1px 4px rgba(0,0,0,0.25);
            display: none;

            &__copy {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }

            &__site {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }

            &__mute {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }

            &__block {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }

            &__report {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }

            &__moment {
              height: 36px;
              color: $gray;
              font-size: 14px;
              margin-top: 14px;
              padding: 0 16px;

              @include m-text-b();
            }
          }
        }

        .tweet-text {
          width: 450px;
          min-height: 35px;
          font-size: 14px;
          padding-left: 60px;
        }

        .item-footer {
          height: 31px;
          width: 506px;
          font-size: 12px;
          padding-top: 1px;
          padding-left: 60px;

          .fa-comment {
            float: left;
            color: $gray;
            font-size: 14px;
          }

          .guide-comment {
            float: left;
            height: 25px;
            width: 35px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 36%;
            display: none;
          }

          .count_comments {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .fa-retweet {
            float: left;
            color: $gray;
            font-size: 14px;
            padding-left: 48px;
          }

          .guide-retweet {
            float: left;
            height: 25px;
            width: 65px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 43%;
            display: none;
          }

          .count_retweets {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .fa-heart {
            float: left;
            color: $gray;
            font-size: 13px;
            padding-top: 1px;
            padding-left: 48px;
          }

          .guide-like {
            float: left;
            height: 25px;
            width: 45px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 49%;
            display: none;
          }

          .count_likes {
            float: left;
            color: $gray;
            font-size: 12px;
            padding-left: 14px;
          }

          .fa-envelope {
            float: left;
            color: $gray;
            font-size: 13px;
            padding-top: 1px;
            padding-left: 48px;
          }

          .guide-message {
            float: left;
            height: 25px;
            width: 70px;
            background-color: black;
            color: $white;
            font-size: 12px;
            border-radius: 5px;
            padding-top: 4px;
            padding-left: 8px;
            position: absolute;
            left: 54%;
            display: none;
          }
        }
      }
    }
  }

  .rightbar__show {
    height: 100vh;
    width: 290px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;

    &__recommend-user {
      height: 300px;
      width: 258px;
      background-color: $white;
      background-clip: inherit;
      border: 1px solid $gray_line;
      line-height: inherit;
      padding: 15px;
      margin-bottom: 10px;

      .trend-header {
        height: 23px;
        width: 144px;
        float: left;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }

      .update {
        float: left;
        color: $light_blue;
        font-size: 12px;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .all-link {
        font-size: 12px;
        color: $light_blue;
        float: left;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .user-small-list-item {
        clear: both;
        min-height: 48px;
        border-bottom: 1px solid $gray_line;
        padding-bottom: 8px;
        margin-top: 10px;

        .icon {
          float: left;
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }

        .user-lists {
          height: 48px;
          width: 180px;
          float: left;
          padding-left: 10px;

          .name {
            height: 16px;
            width: 70px;
            float: left;
            padding-bottom: 5px;
            color: black;
            font-size: 14px;
            font-weight: bold;

            @include hover-a();
          }

          .username {
            height: 16px;
            width: 70px;
            float: left;
            color: $gray;
            font-size: 14px;
          }

          .following-buttun {
            height: 16px;
            width: 66px;
            clear: both;
            background-color: $white;
            line-height: 16px;
            padding: 4px 12px;
            color: $light_blue;
            font-size: 12px;
            border-color: $light_blue;
            border: 1px solid $light_blue;
            border-radius: 100px;
            cursor: pointer;
            font-weight: bold;
            position: relative;
            white-space: nowrap;

            @include hover-f();
          }
        }
      }
    }

    &__recommend-trend {
      height: 300px;
      width: 258px;
      background-color: $white;
      border: 1px solid $gray_line;
      line-height: inherit;
      padding: 15px;
      margin-bottom: 10px;

      .trend-header {
        height: 23px;
        width: 144px;
        float: left;
        line-height: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 18px;
      }

      .change-trends {
        font-size: 12px;
        color: $light_blue;
        float: left;
        padding-top: 5px;
        padding-left: 5px;

        @include hover-b();
      }

      .trend-item {
        clear: both;
        padding-bottom: 10px;

        .title {
          font-size: 14px;
          font-weight: bold;
          color: $light_blue;

          @include hover-b();
        }

        .count {
          color: $gray;
          font-size: 12px;
        }
      }
    }

    &__footer {
      height: 100px;
      width: 258px;
      background-color: $white;
      border: 1px solid $gray_line;
      padding: 15px;

      .item {
        float: left;
        padding-right: 8px;
        color: $gray;
        font-size: 11px;

        @include hover-a();
      }
    }
  }
}
